:root {
    --cor-primaria: #0a243e;
    --cor-secundaria: #0e476d;
    --cor-destaque: #e74c3c;
    --cor-texto: #333;
    --cor-clara: #f9f9f9;
    --sombra: 0 3px 10px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--cor-clara);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

.header {
    background-color: var(--cor-primaria);
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container {
    width: 150px;
}

.logo {
    width: 100%;
}

.nav {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav a {
    color: var(--cor-clara);
    position: relative;
}

.nav a::after {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--cor-destaque);
    transition: width 0.3s ease;
}

.nav a:hover::after {
    width: 100%;
}

.banner {
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.605);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-content {
    position: absolute;
    top: 50%;
    transform: translateX(50%);
}

h1 {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.banner p {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.banner .button {
    background-color: var(--cor-primaria);
    border: none;
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    color: var(--cor-primaria);
    margin-top: 20px;
    min-height: 80vh;
}

#sobre {
    margin-top: 50px;
}

.sobre-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sobre-content {
    width: 50%;
}

.sobre-content h3 {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.sobre-content p {
    line-height: 25px;
    margin-bottom: 1.5rem;
}

.sobre-content ul {
    list-style-position: inside;
}

.sobre-content li {
    padding: 8px 0;
}

.sobre-content ul li::marker {
    color: red;
    font-size: 12px;
}

.img-sobre-container {
    border-radius: 10px;
    width: 50%;
}

.img-sobre {
    border-radius: 10px;
    width: 100%;
}

.conteudo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.conteudo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 150px;
    background-color: white;
    box-shadow: var(--sombra);
    border-radius: 10px;
    padding: 20px;
}

.conteudo-content h3 {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.galeria-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.galeria-img-container {
    width: 250px;
    height: 250px;
}

.galeria-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.aulas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.aulas-container p {
    width: 40%;
}

footer {
    background-color: var(--cor-primaria);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
}

.lang {
    display: flex;
    color: white;
    gap: 20px;
    padding: 20px;
}

.lang p {
    padding-bottom: 20px;
}

.footer-paragrafo {
    padding: 20px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .banner-content {
        top: 30%;
        left: 20px;
        transform: translateY(0);
    }

    h1 {
        font-size: 2rem;
    }

    .section {
        padding: 20px;
        width: 100%;
        margin-top: 10px;
    }

    .section-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    #sobre {
        margin-top: 30px;
    }

    .sobre-container {
        flex-direction: column-reverse;
    }

    .sobre-content {
        width: 100%;
    }

    .sobre-content h3 {
        font-size: 1.5rem;
    }

    .img-sobre-container {
        width: 100%;
    }
    
    .img-sobre {
        width: 100%;
    }

    .conteudo-container {
        flex-direction: column;
    }

    .conteudo-content {
        width: 100%;
    }

    .conteudo-content h3 {
        font-size: 1.5rem;
    }

    .galeria-container {
        flex-direction: column;
    }

    .aulas-container {
        flex-direction: column;
    }

    .aulas-container p {
        width: 100%;
    }
    
    .mapa {
        overflow-x: scroll;
    }

    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
